@import "../../css/vars.css";

.image {
  width: 23vw;
  height: 23vw;
  margin: auto;
}

/* was 100% width for 1 square per row */

.container {
  width: 100%;
  margin-top: 6%;
}

.imageSrc {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link {
  color: var(--text-black);
  text-decoration: none;
}

.link:hover .name {
  text-decoration: underline;
}

.itemInformation {
  width: 85%;
  margin: auto;
}

.name {
  margin-top: 10px;
}

.priceFrom {
  font-size: 10px;
  margin-right: 5px;
}

.priceContainer {
  display: flex;
  font-weight: 600;
}

@media (max-width: 768px) {
  .image {
    height: 46vw;
    width: 46vw;
  }
}
