.topContainer {
  display: flex;
  margin: 3%;
}

.bigPictureContainer {
  width: 45%;
  position: relative;
}

.bigPictureContainer:after {
  content: "";
}

.productPicture {
  position: absolute;
}

.moreImagesContainer {
  width: 15%;
}

.moreImageContainer {
  width: 60%;
  margin: auto;
  margin-bottom: 24px;
}

.moreImageContent {
  position: absolute;
}

.informationContainer {
  width: 40%;
}

.arrow {
  color: black;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
}
