@import "../css/vars.css";

.container {
  width: 100%;
  height: 350px;
  background-color: var(--footer-grey);
  margin: 70px 0 0 0;
}

.categories {
  font-size: 16px;
  margin-top: 7px;
}

.categoryContainer {
  font-size: 19px;
  font-weight: 600;
  width: 25%;
  color: var(--text-black);
}

.logoContainer {
  width: 50%;
}

.categoriesContainer {
  padding: 35px 3% 0 3%;
  display: flex;
  height: 220px;
}

.categoryNamesContainer {
  margin-top: 12px;
  font-weight: 300;
  cursor: pointer;
}

.socialContainer {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0 20px 0 20px;
  color: var(--text-black);
}

.logo {
  height: 140px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.link {
  text-decoration: none;
  color: var(--text-black);
}

.link:hover {
  color: #f595a5;
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }

  .categoryContainer {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .categoriesContainer {
    flex-direction: column;
    height: auto;
    padding: 0px 3% 0 3%;
  }

  .logoContainer {
    width: 100%;
  }

  .logo {
    background-position: center;
    height: 110px;
    /* could make height smaller on even smaller devices */
    margin: 40px;
  }

  .socialContainer {
    padding-bottom: 20px;
  }
}
