.headerContainer {
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  font-family: fantasy;
  align-items: center;
  background-color: #edd1d5;
}

.link {
  text-decoration: none;
  color: black;
}

.hoverText {
  margin-top: 8px;
}
