@import "../css/vars.css";

.headerContainer {
  height: 260px;
  margin-top: 40px;
}

.headerTitle {
  width: 25%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle:hover {
  text-decoration: underline;
}

.divider {
  background-color: var(--logo-pink);
  width: 94%;
  height: 1px;
  margin: 5px 3%;
}

.verticalDivider {
  width: 1px;
  background-color: var(--logo-pink);
  height: 22px;
}

.headerLogo {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.navigationBar {
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 3%;
}

.link {
  text-decoration: none;
  color: black;
}

.hidden {
  position: absolute;
  background-color: blue;
  height: 200px;
  width: 100px;
}

.menuitem {
  width: 25%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuitem:hover {
  background-color: none;
  text-decoration: underline;
}

.menuitem:hover .submenu {
  display: block;
}

.submenu {
  top: 45px;
  text-transform: none;
  display: none;
  position: absolute;
  display: none;
  background-color: white;
  border: solid 1px #e6e6e6;
  z-index: 99;
  width: 100%;
}

.logoHamburgerContainer {
  display: flex;
  align-items: center;
  padding: 0 0 40px 0;
}

.hamburger {
  display: none;
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hamburgerDivider {
  height: 1px;
  width: 90%;
  margin: 0 5%;
  background-color: var(--logo-pink);
  z-index: 22;
  position: relative;
}

.hamburgerSubMenuDivider {
  height: 1px;
  width: 10%;
  margin: 0 45%;
  background-color: var(--logo-pink);
}

.hamburgerTitle {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 22;
  background-color: white;
  position: relative;
}

.hamburgerSubMenu {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerMenuContainer {
  margin: 0 0 40px 0;
  transition: 0.8s ease;
  z-index: 10;
  position: relative;
}

.hoverText {
  margin: 10px 0 10px 12px;
}

.hoverText:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .divider {
    display: none;
  }

  .navigationBar {
    display: none;
  }

  .headerLogo {
    background-position: left;
    height: 120px;
    width: 88%;
  }

  .hamburger {
    display: block;
  }

  .headerContainer {
    margin: 0;
    padding: 20px 0 0 20px;
    height: auto;
    background-color: white;
    z-index: 99;
    position: relative;
  }
}
