@import "../css/vars.css";

.headerContainer {
  height: 260px;
  margin-top: 40px;
}

.divider {
  background-color: var(--logo-pink);
  width: 94%;
  height: 1px;
  margin: 5px 3%;
}

.verticalDivider {
  width: 1px;
  background-color: var(--logo-pink);
  height: 22px;
}

.headerLogo {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 0 40px 0;
}

.navigationBar {
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  font-family: fantasy;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

.hidden {
  position: absolute;
  background-color: blue;
  height: 200px;
  width: 100px;
}
