.name {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 75px;
  margin-left: 20px;
  background-color: paleturquoise;
  background-repeat: no-repeat;
  background-size: contain;
}
