.name {
  display: flex;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 760px) {
  .name {
    background-size: contain;
  }
}
